# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

**basic_ALU/db
**basic_ALU/incremental_db
**basic_ALU/output_files
**basic_ALU/simulation/
*.bak
*.qsf
*.bak
*.qpf
*.qdf
*.qws
*.rpt
*.vho
*.xrf
*.rpt
**4_shiftReg_dff/db
**4_shiftReg_dff/incremental_db
**4_shiftReg_dff/output_files
**4_shiftReg_dff/simulation

**ALU_Sequential/db
**ALU_Sequential/incremental_db
**ALU_Sequential/output_files
**ALU_Sequential/simulation

**upCounter_4b/db
**upCounter_4b/incremental_db
**upCounter_4b/output_files
**upCounter_4b/simulation

*.psm
upCounter_4b/simulation/modelsim/vhdl_libs/altera/alt_bidir_buf/_primary.dbs
