# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

**basic_ALU/db
**basic_ALU/incremental_db
**basic_ALU/output_files
**basic_ALU/simulation
*.bak
*.qsf
*.qws
*.qpf
